<div class="container-fluid">

    <div class="card">
        <div class="card-header">
            <h2>
                Create Schedule
            </h2>
        </div>

        <div class="card-body d-flex justify-content-center" *ngIf="isLoad">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="card-body" *ngIf="!isLoad">
            <div class="form-group">
                <label for="testName">
                    Test Name
                </label>
                <input
                    required placeholder="Test Name" class="form-control"
                    #testName type="text">
            </div>

            <div class="form-group">
                <label for="startTime">
                    Start time
                </label>
                <input
                    required class="form-control" #startTime
                    type="datetime-local">
            </div>

            <div class="form-group">
                <label for="endTime">
                    End time
                </label>
                <input
                    required class="form-control" #endTime
                    type="datetime-local">
            </div>

            <div class="form-group">
                <label for="endTime">
                    Test Type
                </label>
                <select 
                    (input) = "newTestType = $event.target.value"
                    class="custom-select">
                    <option value="multiple">Multiple Option</option>
                    <option value="true false">True False</option>
                    <option value="choose">Choose from list</option>
                    <option value="essay">Essay</option>
                    <option value="file">Submit File</option>
                </select>
            </div>

            <div class="form-group">
                <label for="">Select Participant</label>
                <div class="checkbox-container">
                    <div *ngFor="let participant of participants">
                        <button class="btn btn-outline-secondary"
                            for="participantName"
                            (click)="setParticipantSchedule(participant,
                            $event.target)">
                            {{participant.username}}
                        </button>
                    </div>
                </div>
                

            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="add(testName.value,
                    startTime.value, endTime.value)">
                    Submit
                </button>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="!isLoad">
        <div class="card-header">
            <h2>Schedules</h2>
        </div>
        <div class="card-body">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Test Name</th>
                        <th scope="col">Test Type</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let schedule of scheduleHeaders; index as i">
                        <th>
                            {{i + 1}}
                        </th>
                        <td *ngIf="!schedule.isEdit">
                            {{schedule.testName}}
                        </td>
                        <td *ngIf="!schedule.isEdit">
                            {{schedule.testType}}
                        </td>
                        <td *ngIf="!schedule.isEdit">
                            {{schedule.startTime}}

                        </td>
                        <td *ngIf="!schedule.isEdit">
                            {{schedule.endTime}}
                        </td>
                        <td *ngIf="schedule.isEdit">
                            <input
                                required
                                class="form-control"
                                type="text"
                                [value]="schedule.testName"
                                (input)="editTestName= $event.target.value;"
                                />
                        </td>
                        <td *ngIf="schedule.isEdit">
                            <select 
                                (input) = "editTestType = $event.target.value"
                                [value] = "schedule.testType"
                                class="custom-select">
                                <option value="multiple">Multiple Option</option>
                                <option value="true false">True False</option>
                                <option value="choose">Choose from list</option>
                                <option value="essay">Essay</option>
                                <option value="file">Submit File</option>
                            </select>
                        </td>
                        <td *ngIf="schedule.isEdit">
                            <input
                                required
                                class="form-control"
                                type="datetime-local"
                                [value]="schedule.startTime"
                                (input)="editStartTime= $event.target.value;"
                                />
                        </td>
                        <td *ngIf="schedule.isEdit">
                            <input
                                required
                                class="form-control"
                                type="datetime-local"
                                [value]="schedule.endTime"
                                (input)="editEndTime= $event.target.value"
                                />
                        </td>
                        <td *ngIf="schedule.isEdit">
                            <button class="btn btn-primary ml-1"
                                (click)="schedule.isEdit= !schedule.isEdit;
                                save(schedule.id)">
                                Save
                            </button>
                            <button class="btn btn-danger ml-1"
                                (click)="schedule.isEdit= !schedule.isEdit">
                                Cancel
                            </button>
                        </td>
                        <td *ngIf="!schedule.isEdit && !schedule.isDelete">
                            <button class="btn btn-warning ml-1"
                                (click)="schedule.isEdit= !schedule.isEdit;">
                                Edit
                            </button>
                            <button class="btn btn-danger ml-1"
                                (click)="schedule.isDelete= !schedule.isDelete">
                                Delete
                            </button>
                        </td>
                        <td *ngIf="schedule.isDelete">
                            <p>Are you sure ?</p>
                            <button class="btn btn-primary ml-1"
                                (click)="delete(schedule.id)">
                                Yes
                            </button>
                            <button class="btn btn-danger ml-1"
                                (click)="schedule.isDelete= !schedule.isDelete">
                                No
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>