<div>
    
    <div>
        <label for="testName">
            Test Name
        </label>
    <input #testName type="text">
    </div>
    
    <div>
        <label for="startTime">
            Start time
        </label>
    <input #startTime type="datetime-local">
    </div>
    
    <div>
        <label for="endTime">
            end time
        </label>
    <input #endTime type="datetime-local">
    </div>
    
        
    <div class="checkbox-container">
        <div *ngFor="let participant of participants">
            <button for="participantName" (click)="setParticipantSchedule(participant, $event.target)" >
                {{participant.username}}
            </button>
        </div>
    </div>

    <button (click)="add(testName.value, startTime.value, endTime.value)">
        submit
    </button>

    <h1>Schedules</h1>
    <div *ngFor="let schedule of schedules">
        
        <div *ngIf="!schedule.isEdit">
            <h3>
                {{schedule.testName}}
            </h3>
            <div>
                <label for="startTime">
                    Start time:
                </label>
                {{schedule.startTime}}
            </div>
            <div>
                <label for="endTime">
                    End time: 
                </label>
                {{schedule.endTime}}
            </div>
        </div>

        <div *ngIf="schedule.isEdit">

            <div>

                <label for="testName">
                    Test Name
                </label>
                <input 
                    type="text" 
                    [value]="schedule.testName"
                    (input)="editScheduleName.value = $event.target.value;" 
                    #editTestName />
                
            </div>
            <div>

                <label for="startTime">
                    Start time
                </label>
                <input 
                    type="datetime-local"
                    [value]="schedule.startTime"
                    (input)="editStartTime.value = $event.target.value;"    
                    #editStartTime />
        
            </div>
            <div>

                <label for="endTime">
                    End time
                </label>
                <input 
                    type="datetime-local"
                    [value]="schedule.endTime"
                    (input)="editEndTime.value = $event.target.value"    
                    #editEndTime />
                </div>

            <button (click)="
                save(
                    schedule.id)">
                Save
            </button>
            <button (click)="schedule.isEdit = !schedule.isEdit">
                Cancel
            </button>
        </div>
     
        <div *ngIf="!schedule.isEdit && !schedule.isDelete">
            <button (click)="schedule.isEdit = !schedule.isEdit">
                Edit
            </button>
            <button (click)="schedule.isDelete = !schedule.isDelete">
                Delete
            </button>
        </div>
    
        <div *ngIf="schedule.isDelete">
            <p>Are you sure ?</p>
            <button (click)="delete(schedule.id)">
                Yes
            </button>
            <button (click)="schedule.isDelete = !schedule.isDelete">
                No
            </button>
        </div>

    </div>

</div>
<div>
</div>