  <mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <strong>
          Exam Manager
        </strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf='currPart!= null && currPart.isAdmin == 1'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/manage-schedule" routerLinkActive="active">
            <strong>
              Manage Schedule
            </strong>
          </a>
        </li>
        <li class="nav-item" *ngIf='currPart!= null && currPart.isAdmin == 1'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/manage-participant" routerLinkActive="active">
            <strong>
              Manage Participant
            </strong>
          </a>
        </li>
        <li class="nav-item" *ngIf='currPart!= null && currPart.isAdmin == 1'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/manage-question" routerLinkActive="active">
            <strong>
              Manage Question
            </strong>
          </a>
        </li>
        <li class="nav-item" *ngIf='currPart!= null && currPart.isAdmin == 1'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/test-result" routerLinkActive="active">
            <strong>
              View Test Result
            </strong>
          </a>
        </li>
        
        <li class="nav-item" *ngIf='currPart!= null && currPart.isAdmin == 1'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/test-status" routerLinkActive="active">
            <strong>
              View Test Status
            </strong>
          </a>
        </li>
  
        <li class="nav-item" *ngIf='currPart!= null && currPart.isAdmin == 0'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/test-activity" routerLinkActive="active">
          <strong>
            Take Test
          </strong>
          </a>
        </li>
        
        <li class="nav-item" *ngIf='currPart != null'>
          <a mdbWavesEffect class="nav-link waves-light" (click)="logout()" >
            <strong>
              Logout
            </strong>
          </a>
        </li>
  
        <li class="nav-item" *ngIf='currPart == null'>
          <a mdbWavesEffect class="nav-link waves-light" routerLink="/login" routerLinkActive='active'>
            <strong>
              Login
            </strong>
          </a>
        </li>
      </ul>
    </links>
    
</mdb-navbar>
  