/* You can add global styles to this file, and also import other style files */

$mid-purple : #3d1e6d
$mr-purple : #e4dcf1
$r-purple : #8874a3
$ml-purple : #2e003e 
$l-purple : #3d2352
$my-white: #f5f5f5
$my-black: #202020

.button
    box-shadow: inset 0px 1px 0px 0px $my-white
    background: linear-gradient(to bottom, $my-white 5%, #f6f6f6 100%)
    background-color: $my-white
    border-radius: 6px
    border: 1px solid #dcdcdc
    display: inline-block
    cursor: pointer
    color: $my-black
    font-family: Arial
    font-size: 15px
    font-weight: bold
    padding: 6px 24px
    text-decoration: none
    text-shadow: 0px 1px 0px $my-white
    outline: 0


.active-button
    box-shadow: inset 0px 1px 0px 0px #dcecfb
    background-color: $mr-purple
    border-radius: 6px
    border: 1px solid #84bbf3
    display: inline-block
    cursor: pointer
    color: $my-black
    font-family: Arial
    font-size: 15px
    font-weight: bold
    padding: 6px 24px
    text-decoration: none
    text-shadow: 0px 1px 0px #528ecc
    outline: 0



